<div class="week-show">

  <div class="weekbar">
    <div>
      <%= link_to new_week_path do %>
        <h3 class="black"><span class="pr-3">+</span>Nouvelle semaine</h3>
      <% end %>
    </div>
  </div>
  <div class="menudelasemaine">
    <h1>Menu de la semaine</h1>
  </div>


<div class="myownswiper">
  <div class="myownswiper-slides">
    <div class="divjourdelasemaine ">
      <p class="jourdelasemaine mon <%= "day-active" if Date.today.wday == 1 %>">Lundi</p>
    </div>
    <div class="divjourdelasemaine">
      <p class="jourdelasemaine tue <%= "day-active" if Date.today.wday == 2 %>">Mardi</p>
    </div>
    <div class="divjourdelasemaine">
      <p class="jourdelasemaine wed<%= "day-active" if Date.today.wday == 3 %>">Mercredi</p>
    </div>
    <div class="divjourdelasemaine">
      <p class="jourdelasemaine thu <%= "day-active" if Date.today.wday == 4 %>">Jeudi</p>
    </div>
    <div class="divjourdelasemaine">
      <p class="jourdelasemaine fri <%= "day-active" if Date.today.wday == 5 %>">Vendredi</p>
    </div>
    <div class="divjourdelasemaine">
      <p class="jourdelasemaine sat<%= "day-active" if Date.today.wday == 6 %>">Samedi</p>
    </div>
    <div class="divjourdelasemaine">
      <p class="jourdelasemaine sun <%= "day-active" if Date.today.wday == 7 %>">Dimanche</p>
    </div>
  </div>
</div>


<% ["mon", "tue", "wed", "thu", "fri", "sat", "sun"].each_with_index do |day, index| %>


  <div class="myownswiper repas <%= day %> <%= "hidden" if index != Date.today.wday - 1 %>">
    <div class="myownswiper-slides">
      <% @week.meals.where('day LIKE ?', "%#{day.capitalize}%").each do |meal| %>

        <div class="card-externe">
          <div class="card-repas">
            <% if meal.recipe.name.downcase == "puree de carottes" %>
              <%= image_tag "https://img.mesrecettesfaciles.fr/wp-content/uploads/2016/11/pureecarotte-1000x500.jpg" %>
            <% elsif meal.recipe.name.downcase == "omelette nature" %>
              <%= image_tag "https://img-3.journaldesfemmes.fr/zCdWcXo8IjfSP8MK8uAgxqetCq4=/910x607/smart/09ca38eb418e4ba4b8d5732c442a775b/ccmcms-jdf/10861244.jpg" %>
            <% elsif meal.recipe.name.downcase == "raclette" %>
              <%= image_tag "https://www.demotivateur.fr/images-buzz/cover/18955809795e30552c9ff4d_raclette-bowl-800x420.jpg" %>
            <% elsif meal.recipe.name.downcase == "pommes de terres sautees" %>
              <%= image_tag "https://sf1.viepratique.fr/wp-content/uploads/sites/2/2015/04/Pommes-de-terre-saut%C3%A9es.jpg" %>
            <% elsif meal.recipe.name.downcase == "roti de porc aux oignons" %>
              <%= image_tag "https://res.cloudinary.com/swissmilk/image/fetch/w_1600,c_fill,g_auto,f_auto,q_auto:eco,ar_16:9/https://api.swissmilk.ch/wp-content/uploads/2019/06/schweinsbraten-an-zwiebelsauce.jpg" %>
            <% elsif meal.recipe.name.downcase == "crepes faciles" %>
              <%= image_tag "https://lepetitjournal.com/sites/default/files/styles/main_article/public/2020-02/Crepes_0.jpg?itok=5V2dScZn" %>
            <% elsif meal.recipe.name.downcase == "veloute de potiron" %>
              <%= image_tag "https://aufilduthym.fr/wp-content/uploads/2018/10/soupe-potimarron-fenouil-curry-au-fil-du-thym.jpg" %>
            <% end %>
          </div>
          <div class="card-repas-description">
            <div class="card-description-h1">
              <h3><%= meal.recipe.name.capitalize %></h3>
            </div>
            <div class="card-description-p">
              <p><%= meal.moment.capitalize %></p>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

<% end %>

</div>

