<div class="container week-show">
  <h1 class="text-center merienda">My week menu</h1>


  <div class="swiper-container shadow-sm">
    <!-- Additional required wrapper -->

      <div class="swiper-wrapper">
          <!-- Slides -->
          <% ["mon", "tue", "wed", "thu", "fri", "sat", "sun"].each do |day| %>

            <% @week.meals.where('day LIKE ?', "%#{day.capitalize}%").each do |meal| %>

              <%= link_to recipe_path(meal.recipe), class: "white" do %>
                <div class="pb-4 swiper-slide d-flex <%= day %> <%= "hidden" if day != "mon" %>" style='background-image: linear-gradient(rgba(0,0,0,0.4), rgba(50,50,50,0.3)), url(https://img.cuisineaz.com/660x660/2013-12-20/i108264-puree-de-carottes-aux-epices-douces.jpeg); background-size: cover;'>
                  <div class="position-bottom align-self-end pl-3">
                    <h5 class="text-white"><%= meal.recipe.name.upcase %></h5>
                    <p><%= meal.day %> <%= meal.moment.capitalize %></p>
                  </div>
                </div>
              <% end %>

            <% end %>

          <% end %>
      </div>
      <!-- If we need pagination -->


      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>

  <div class="card-week-day shadow-sm">
    <div class="card-week-day-description">
      <h4>D A Y</h4>
    </div>
    <div class="card-week-day-calendar">
      <ul>

        <li>
          L
          <br><a href="">
            <i class="far fa-circle mon week-icon-active"></i>
          </a>
        </li>

        <li>M<br><a href=""><i class="far fa-circle tue"></i></a></li>
        <li>M<br><a href=""><i class="far fa-circle wed"></i></a></li>
        <li>J<br><a href=""><i class="far fa-circle thu"></i></a></li>
        <li>V<br><a href=""><i class="far fa-circle fri"></i></a></li>
        <li>S<br><a href=""><i class="far fa-circle sat"></i></a></li>
        <li>D<br><a href=""><i class="far fa-circle sun"></i></a></li>
      </ul>
    </div>
  </div>

</div>
