<div class="show-recipe">
  <h1> <%= @recipe.name %> </h1>

  <div class="card-week">
    SLIDERSHOW
    <% if @recipe.photos.attached? %>
      <% @recipe.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% end %>
    <a href="" id="left">GAUCHE</a>
    <a href="" id="right">DROITE</a>
  </div>


  <ul>
    <li> <strong>Difficulté:</strong> <%= @recipe.difficulty  %> </li>
    <li> <strong>Temps de préparation:</strong> <%= @recipe.cooking_time  %> min </li>
    <li> <strong>Instructions:</strong> <%= @recipe.instructions  %> </li>
  </ul>

</div>
