<div class="footer">
  <ul class="footer-list">

    <li class="<%= "footer-active" if (params[:controller] == 'weeks' && params[:action] == 'today') %>">
      <%= link_to today_week_path(Week.first) do %>
        <i class="fas fa-calendar-day footer-icon"></i><br>JOUR
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'weeks' && params[:action] != 'today') %>">
      <%= link_to week_path(Week.first) do %>
        <i class="fas fa-calendar-week footer-icon"></i>
        <br>MA SEMAINE
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'recipes') %>">
      <%= link_to recipes_path do %>
        <i class="fas fa-search footer-icon"></i>
        <br>PARCOURIR
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'cookbooks') %>" >
      <%= link_to cookbooks_path do  %>
        <i class="fas fa-book footer-icon"></i>
        <br>LIVRES
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'grocery_items') %>">
      <a href="#">
        <i class="fas fa-shopping-cart footer-icon"></i>
        <br>COURSES
      </a>
    </li>
  </ul>
</div>
