<div class="footer">

  <ul class="footer-list">

    <li class="<%= "footer-active" if (params[:controller] == 'weeks' && params[:action] != 'today') %>">
      <%= link_to week_path(Week.first) do %>
        <%= render :partial => 'svg/calendar' %>
        <br>SEMAINE
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'recipes') %>">
      <%= link_to recipes_path do %>
        <%= render :partial => 'svg/search' %>
        <br>RECETTES
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'cookbooks') %>" >
      <%= link_to cookbook_path(Cookbook.first) do  %>
        <%= render :partial => 'svg/star' %>
        <br>FAVORIS
      <% end %>
    </li>

    <li class="<%= "footer-active" if (params[:controller] == 'grocery_items') %>">
      <%= link_to '/weeks/2/grocery_list/1' do  %>
        <%= render :partial => 'svg/shopping' %>
        <br>COURSES
      <% end %>
    </li>
  </ul>
</div>
